body {
  background-image: url('background.png');
  background-repeat: repeat;
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  align-items: center;
}
